<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>COMPOSE_PROJECT_NAME</name>
          <description>Name of the created instance to be created by this build.</description>
          <defaultValue>appsetup</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/petyodimitrov/app-setup.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>build-spring-demo, </upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;\n\n\n\n~~ remove running &apos;${COMPOSE_PROJECT_NAME}&apos; containers \n\n\n\n&quot;
docker-compose stop -t 60
docker-compose rm -f -v</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo  &quot;\n\n\n\n~~ clean old &apos;${COMPOSE_PROJECT_NAME}&apos; images \n\n\n\n&quot;
docker images | grep &quot;$COMPOSE_PROJECT_NAME\_&quot; | awk &quot;{print \$3}&quot; | xargs --no-run-if-empty docker rmi -f &gt; /dev/null 2&gt;&amp;1 || true

echo &quot;\n\n\n\n~~ build new &apos;${COMPOSE_PROJECT_NAME}&apos; images \n\n\n\n&quot;
docker-compose build

echo &quot;\n\n\n\n~~ clean dangling untagged images \n\n\n\n&quot;
docker images | grep &quot;&lt;none&gt;&quot; | awk &quot;{print \$3}&quot; | xargs --no-run-if-empty docker rmi -f &gt; /dev/null 2&gt;&amp;1 || true
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -e
echo -e &quot;\n\n\n\n~~ start &apos;${COMPOSE_PROJECT_NAME}&apos; containers \n\n\n\n&quot;
docker-compose up -d
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
	  
echo -e &quot;\n\n\n\n~~ waiting for containers to start \n\n\n\n&quot;
docker run -t --rm --net appsetup_default cisetup_seleniumfirefoxtest bash /wait.sh http://proxy 20

echo -e &quot;\n\n\n\n~~ test &apos;${COMPOSE_PROJECT_NAME}&apos; containers \n\n\n\n&quot;
docker rm -f ui_tests &gt;&gt; /dev/null 2&amp;&gt;1
docker create -t -p 5900:5900 -p 4444:4444 --net cisetup_default -e NEXUS_HOST=nexus -e NEXUS_PORT=8081 --name ui_tests cisetup_seleniumfirefoxtest bash /test.sh
docker network connect appsetup_default ui_tests
docker start -a ui_tests
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo -e &quot;\n\n\n\n~~ push images to registry \n\n\n\n&quot;
# tag images
PREFIX=&quot;localhost:9544&quot;
docker images | grep &quot;^$COMPOSE_PROJECT_NAME\_&quot; | awk -v prefix=&quot;$PREFIX&quot; &apos;{ print prefix $1 &quot;:1.0&quot; }&apos; | xargs -L1 docker rmi &gt;&gt; /dev/null 2&amp;&gt;1

docker images | grep &quot;^$COMPOSE_PROJECT_NAME\_&quot; | awk -v prefix=&quot;$PREFIX&quot; &apos;{ print $3, prefix &quot;/&quot; $1 &quot;:1.0&quot; }&apos; | xargs -L1 echo docker tag
docker images | grep &quot;^$COMPOSE_PROJECT_NAME\_&quot; | awk -v prefix=&quot;$PREFIX&quot; &apos;{ print $3, prefix &quot;/&quot; $1 &quot;:1.0&quot; }&apos; | xargs -L1 docker tag

docker images | grep &quot;^$PREFIX/$COMPOSE_PROJECT_NAME\_&quot; | awk &apos;{ print $1 &quot;:&quot; $2 }&apos; | xargs -L1 echo docker push

# push a single image to registry (to save time)
#docker images | grep &quot;^$PREFIX/$COMPOSE_PROJECT_NAME\_&quot; | awk &apos;{ print $1 &quot;:&quot; $2 }&apos; | xargs -L1 docker push &gt;&gt; /dev/null 2&amp;&gt;1
IMAGE=&quot;${PREFIX}/${COMPOSE_PROJECT_NAME}_proxy:1.0&quot;
docker login -u admin -p admin123 ${PREFIX}
docker push $IMAGE
docker logout ${PREFIX}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.2"/>
  </buildWrappers>
</project>